{% if form %}
<form action='/score'>
  <div class="form-group">
    <label for='word'>Enter the word here:</label>
    <input name='word' id='word' type='text' class='form-control'>
  </div>
  <button type='submit' class='btn btn-success'>Submit</button>
</form>
{% endif %}
