{% if form %}
  <form action='/game'>
    <div class="form-group">
      <label for=''>Three... Two... One...</label>
    </div>
    <button type='submit' class='btn btn-success' name='player-one' value='rock'>Rock</button>
    <button type='submit' class='btn btn-success' name='player-one' value='paper'>Paper</button>
    <button type='submit' class='btn btn-success' name='player-one' value='scissors'>Scissors</button>
  </form>
{% endif %}
