<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">

      <h1>Find and Destroy Words... Me Hate Words!</h1>
      <p class="well">Enter a phrase, the word or combinations of letters you want to destroy, and what you would like them replaced with. Then either choose to replace whole words (1st button) or any matching combinations of letters (2nd Button). Enjoy!</p>
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
    </div>
  </body>
</html>
