<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">

      <h1>Date Finder</h1>
      <p>Enter the date to find out what day of the week it was!</p>
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
    </div>
  </body>
</html>
