<!DOCTYPE html>
<html>
  <head>
    {% include '/includes/head.html.twig' %}
  </head>
  <body>
    {% include '/includes/navbar.html.twig' %}
    <div class="container">

      <h1>Scrabble Calculator</h1>
      <p>Enter the Scrabble word to find how many points it is worth!</p>
      {% include '/includes/message.html.twig'%}
      {% include '/includes/form.html.twig' %}
    </div>
  </body>
</html>
